table {
  margin-bottom: 2.5rem;
  
  tbody {
    border-top: 0.1rem solid $darkGray;
    border-bottom: 0.1rem solid $darkGray;

    tr {
      @include mobile {
        border-top: thin solid $lightGray;
      }
    }
  }

  th, td {
    padding: 0.5rem 3rem;

    @include mobile {
      padding: 0.5rem 1rem;
    }
  }
}

.link-widget {
  max-width: 660px;
  height: 149px;
  margin: 2rem 0;
  border: 1px solid $lightGray;
  border-radius: 3px;
  font-size: 0;   // To reduce gap between inline-blocks

  &:hover {
    border: 1px solid $gray;
  }

  a {
    display: block;
  }

  .link-widget-content {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 280px);
    height: 147px;
    padding: 1rem 1.5rem;
    border-right: 1px solid $lightGray;
    font-size: 12px;
    word-break: break-word;
    // overflow-wrap: break-word;
  
    @include mobile {
      width: calc(100% - 147px);
    }

    .link-widget-title {
      display: block;
      max-height: 45px;
      margin: 0.25em 0 0.5em 0;
      font-size: 16px;
      color: $darkGray;
      overflow: hidden;
    }
    
    .link-widget-description {
      display: block;
      max-height: 34px;
      margin-bottom: 0.5em;
      color: $gray;
      overflow: hidden;
    }
    
    .link-widget-host {
      display: block;
      max-height: 17px;
      color: $darkGray;
      overflow: hidden;
    }
  }

  .link-widget-thumbnail {
    display: inline-block;
    vertical-align: middle;
    width: 280px;
    height: 147px;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    border-radius: 0 2px 2px 0;
  
    @include mobile {
      width: 147px;
    }
  }

  .link-widget-no-img {
    display: inline-block;
    vertical-align: middle;
    width: 280px;
    font-size: 3.5rem;
    color: $cupronickel;
    text-align: center;

    @include mobile {
      width: 147px;
    }
  }
}

.embed-steam-wrapper {
  max-width: 646px;
  margin-top: 2rem;

  .embed-steam {
    position: relative;
    width: 100%;
    padding-bottom: calc(5 / 17 * 100%);

    @include mobile {
      padding-bottom: 190px;
    }
  
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.share-button-wrapper {
  width: 400px;
  margin: 2rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  @include mobile {
    width: 160px;
  }

  .share-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 40px;
    border: 1px solid;
    border-radius: 3px;
    font-size: 24px;
    text-align: center;

    @include mobile {
      width: 25%;
      font-size: 20px;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
    }
  }

  .twitter {
    border-color: $twitter;

    i {
      color: $twitter;
    }
  }

  .pocket {
    border-color: $pocket;

    i {
      color: $pocket;
    }
  }

  .hatena {
    border-color: $hatena;

    i {
      color: $hatena;
    }

    .hatena-icon:before {
      content: "B!";
      font-family: Verdana;
      font-weight: bold;
      font-style: normal;
    }
  }
}

.disqus {
  margin-top: 3rem;
}