table {
  margin-bottom: 2.5rem;
  
  tbody {
    border-top: 0.1rem solid $darkGray;
    border-bottom: 0.1rem solid $darkGray;

    tr {
      @include mobile {
        border-top: thin solid $lightGray;
      }
    }
  }

  th, td {
    padding: 0.5rem 3rem;

    @include mobile {
      padding: 0.5rem 1rem;
    }
  }
}

.embed-steam-wrapper {
  max-width: 646px;

  .embed-steam {
    position: relative;
    width: 100%;
    padding-bottom: calc(5 / 17 * 100%);

    @include mobile {
      padding-bottom: 190px;
    }
  
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.disqus {
  margin-top: 3rem;
}