table {
  margin-bottom: 2.5rem;
  tbody {
    border-top: 0.1rem solid $darkGray;
    border-bottom: 0.1rem solid $darkGray;
  }
  th, td {
    padding: 0.5rem 3rem;
  }
}

.embed-steam-wrapper {
  max-width: 646px;

  .embed-steam {
    position: relative;
    width: 100%;
    padding-bottom: calc(5 / 17 * 100%);
  
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.disqus {
  margin-top: 3rem;
}