{{ partial "header" . }}
{{ partial "nav" . }}

<div class="container">
  <section class="section">
    {{ $paginator := .Paginate (where site.RegularPages "Type" "in" site.Params.mainSections) }}
    {{ range sort $paginator.Pages }}
      <article class="article">
        <h2 class="title"><a href="{{ .Permalink }}">{{ .Title | emojify }}</a>{{ if .Draft }}::Draft{{ end }}</h2>
        {{ partial "post-metadata" . }}

        <div class="content">
          {{ partial "banner" . }}
          <!-- supports emoji -->
          {{ .Summary | emojify }}
        </div>

        <a href="{{ .Permalink }}" class="btn btn-outline-primary" role="button">Read More</a>
      </article>
    {{ end }}
  </section>
</div>

{{ partial "paginate-list" . }}
{{ partial "footer" . }}