{{ partial "header" . }}
{{ partial "nav" . }}

<div class="container">
  <section class="section">
    <div class="container">
      <article>
        <h1 class="title">{{ .Title | emojify }}{{ if .Draft }}::Draft{{ end }}</h1>
        {{ partial "post-metadata" . }}
        
        <div class="content">
          {{ partial "banner" . }}
          {{ partial "table-of-contents" . }}
          <!-- supports emoji -->
          {{ .Content | emojify }}
        </div>
      </article>
    </div>
  </section>

  {{ partial "share-button" . }}

  <div class="disqus">
    {{ template "_internal/disqus.html" . }}
  </div>
</div>

{{ partial "paginate-single" . }}
{{ partial "footer" . }}