{{ partial "header" . }}
{{ partial "nav" . }}

<div class="container">
  <section class="section">
    <article>
      <h1 class="title">{{ .Title | emojify }}{{ if .Draft }}::Draft{{ end }}</h1>
      {{ partial "post-metadata" . }}
      
      <div class="content">
        {{ partial "banner" . }}
        {{ partial "table-of-contents" . }}
        <!-- supports emoji -->
        {{ .Content | emojify }}
      </div>
    </article>
  </section>

  {{ partial "share-button" . }}

  <div class="disqus">
    {{ template "_internal/disqus.html" . }}
  </div>
</div>

{{ partial "paginate-single" . }}
{{ partial "footer" . }}