{{ partial "header" . }}
{{ partial "nav" . }}
<div class="container">
  <section class="section">
    <div class="container">
      <article>
        {{ partial "post-metadata-single" . }}
        <div class="content">
          {{ partial "banner" . }}
          {{ partial "table-of-contents" . }}
          <!-- supports emoji -->
          {{ .Content | emojify }}
        </div>
      </article>
    </div>
  </section>
  {{ partial "share-button" . }}
</div>
<div class="container">
  <div class="disqus">
    {{ template "_internal/disqus.html" . }}
  </div>
</div>
{{ partial "paginate-single" . }}
{{ partial "footer" . }}