{{ partial "header" . }}
{{ partial "nav" . }}

<div class="container">
  <h2><i class="fa fa-tag" aria-hidden="true"></i>{{ strings.FirstUpper .Data.Singular }}: "{{ .Title }}"</h2>

  <section class="section">
    {{ range .Pages }}
      <article class="article">
        <h2 class="title"><a href="{{ .Permalink }}">{{ .Title | emojify }}</a>{{ if .Draft }}::Draft{{ end }}</h2>
        {{ partial "post-metadata" . }}

        <div class="content">
          {{ partial "banner" . }}
          <!-- supports emoji -->
          {{ .Summary | emojify }}
        </div>

        <a href="{{ .Permalink }}" class="btn btn-outline-primary" role="button">Read More</a>
      </article>
      {{ end }}
  </section>
</div>

{{ partial "footer" . }}