<meta charset="utf-8" />
<meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

{{ if .IsPage }}
<title>{{ .Title }} - JD2xor's Blog</title>
<meta property="og:title" content="{{ .Title }}" />
<meta name="description" content="{{ .Summary }}">
<meta property="og:description" content="{{ .Summary }}" />
{{ else }}
<title>{{ .Site.Title }}</title>
<meta property="og:title" content="{{ .Site.Title }}" />
<meta name="description" content="{{ .Site.Params.Description }}">
<meta property="og:description" content="{{ .Site.Params.Description }}" />
{{ end }}

<meta property="og:url" content="{{ .Permalink }}" />

{{ if .Params.banner }}
<meta property="og:image" content="{{ .Permalink }}{{ .Params.banner }}" />
{{ else }}
<meta property="og:image" content="{{ .Site.BaseURL }}/images/ogp.png" />
{{ end }}

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@JD2xor" />
<meta name="twitter:creator" content="@JD2xor" />