<div class="wrapper-masthead">
  <div class="container">
    <header class="masthead clearfix">
      <!-- <a href="{{ .Site.BaseURL }}/" class="site-avatar"><img src="{{ .Site.Params.avatar }}" /></a> -->

      <div class="site-info">
        <h3 class="site-name"><a href="{{ .Site.BaseURL }}/">{{ .Site.Title }}</a></h3>
      </div>

      <nav>
        <a href="/">Home</a>
        <a href="/categories">Categories</a>
        <a href="/tags">Tags</a>
      </nav>
    </header>
  </div>
</div>