<div class="share-button-wrapper">
  <div class="share-button twitter">
    <a href="https://twitter.com/share?url={{.Permalink}}&text={{.Title}} - JD2xor's Blog" target="_blank" rel="noopener nofollow"><i class="fa fa-twitter" aria-hidden="true"></i></a>
  </div>
  <div class="share-button pocket">
    <a href="http://getpocket.com/edit?url={{.Permalink}}&title={{.Title}}" target="_blank" rel="noopener nofollow"><i class="fa fa-get-pocket" aria-hidden="true"></i></a>
  </div>
  <div class="share-button hatena">
    <a href="http://b.hatena.ne.jp/add?mode=confirm&url={{.Permalink}}&title={{.Title}}" target="_blank" rel="noopener nofollow"><i class="hatena-icon" aria-hidden="true"></i></a>
  </div>
</div>