{{ $icon := .Title }}
{{ if eq $icon "Categories" }}
  {{ $icon = "folder" }}
{{ else if eq $icon "Tags" }}
  {{ $icon = "tag" }}
{{ else }}
  {{ $icon = "archive" }}
{{ end }}

{{ partial "header" . }}
{{ partial "nav" . }}

<div class="container">
  <section class="section">
    <h2><i class="fa fa-{{ $icon }}" aria-hidden="true"></i>{{ .Title }}</h2>

    <div>
      <ul>
        {{ range .Data.Terms }}
          <li><a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a> ({{ .Count }})</li>
        {{ end }}
      </ul>
    </div>
  </section>
</div>

{{ partial "footer" . }}