{{ $url := .Get "url" }}
{{ $json := getJSON "https://secret-sea-89806.herokuapp.com/ogp?url=" $url }}
{{ $title := $json.Title }}
{{ $description := $json.Description }}
{{ $host := $json.URL.Host }}
{{ $image := (index $json.Image 0).URL }}

<div class="link-widget">
  <a href="{{ $url }}" target="_blank" rel="noopener noreferrer">
    <div class="link-widget-content">
      <strong class="link-widget-title">{{ $title }}</strong>
      <div class="link-widget-description">{{ $description }}</div>
      <div class="link-widget-host">{{ $host }}</div>
    </div>

    {{ if $image }}
    <div class="link-widget-thumbnail" style="background-image: url({{ $image }});"></div>
    {{ else }}
    <div class="link-widget-no-img">
      <i class="fa fa-file-text-o" aria-hidden="true"></i>
    </div>
    {{ end }}

  </a>
</div>